.button {
  background: $off-dark;
  border: none;
  color: $light-grey;
  font-family: "Roboto Slab", sans-serif;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size $m-size;
  border-radius: 3px;
}
