html {
  font-size: 62.5%;
}
body {
  background: $light-grey;
  font-family: "Roboto Slab", sans-serif;
  font-size: $m-size;
  color: $off-dark;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
